MONGODB_URI=mongodb://root:root@cluster0-shard-00-00.iytxw.mongodb.net:27017,cluster0-shard-00-01.iytxw.mongodb.net:27017,cluster0-shard-00-02.iytxw.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-ebfn71-shard-0&authSource=admin&retryWrites=true&w=majority
PORT=5902